<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!--[if lte IE 8]>
			<script src="js/resources/html5shiv.js"></script>
		<![endif]-->	
		<!--[if IE]>
				<script type="text/javascript" src="../../../abstractionlayer.backstage.js"></script>
				<script type="text/javascript" src="../../../abstractionlayer.commons.js"></script>
			<![endif]--> 
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/options.css"/> 
        
        <!-- styles needed by jScrollPane -->
        <link type="text/css" href="css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
        
         	
        <script type="text/javascript" src="js/html5SupportIe.js"></script>


	</head>
          <body>
			<div id="page">
                <div id="page-inner">
				<div id="toolbarOptions">
                    <div id="header-title"></div>
                    <div id="header-close"></div>
                </div>
                <nav>

					<ul>
						<li  class="selected">
                            <div class="marker markSelected"></div>
                            <div class="clickable" id="predefinedComponents"></div> 
                        </li>
                        <li >
                            <div class="marker"></div>
                            <div class="clickable" id="personalApps"></div>
                        </li>
                        <li >
                            <div class="marker"></div>
                            <div class="clickable" id="myApps"></div>
                        </li>
						<li>
                            <div class="marker"></div> 
                            <div class="clickable" id="search"></div>
                            
                        </li>
						<li >
                            <div class="marker"></div> 
                            <div class="clickable" id="notifications"></div>
                        </li>
						<li >
                            <div class="marker"></div> 
                            <div class="clickable" id="advancedSettings"></div>
                        </li>
						<li >
                            <div class="marker"></div> 
                            <div class="clickable" id="help"></div>
                        </li>
						<li >
                            <div class="marker"></div> 
                            <div class="clickable" id="about"></div>
                        </li>                                                 					
					</ul>
				</nav>
            <section>
					<header id="contentHeader">
						
						<div id="header-content-wrapper">
							<h3></h3>
						</div>
					</header>

					<div id="content-wrapper" class="scroll-pane">
                        <div id="myAppsUserMsg">You haven't added any apps. Visit the <a href="http://apps.conduit.com">App Marketplace</a> to choose from thousands of free apps!</div>
						<div id="content_search" class="appsListPanel">
							<div class="search-elementsWrapper">
                                <label class="label_check" for="ENABALE_HISTORY">
                                    <input id="ENABALE_HISTORY" value="1" type="checkbox" />
                                    <span></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
							<!--<div class="search-elementsWrapper">
                                <label class="label_check" for="ENABLE_RETURN_WEB_SEARCH_ON_THE_PAGE">
                                    <input id="ENABLE_RETURN_WEB_SEARCH_ON_THE_PAGE" value="1" type="checkbox" />
                                    <p>&nbsp;</p>
                                </label>
							</div>-->
                            <div class="search-elementsWrapper">
                                <label class="label_check" for="selectToSearchBoxEnabled">
                                    <input id="selectToSearchBoxEnabled" value="1" type="checkbox" />
                                    <span></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
						</div>
						
						<div id="content_notifications" class="appsListPanel">
							<ul id="notifications-list">
								
							</ul>
						</div>

                        <div id="content_advancedSettings" class="appsListPanel">
							<div class="search-elementsWrapper">
                                <label class="label_check" for="as-privacy">
                                    <input id="as-privacy" value="1" type="checkbox" />
                                    <span  id="always-ask-me-about-apps-privacy" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
							<div id="settingsChange-container" class="search-elementsWrapper">
                                <label class="label_check label-settings-change" for="settings-change">
                                    <input id="settings-change" value="1" type="checkbox" />
                                    <span  id="notify-me-about-settings-change" >
                                        <span id="before-cb-notify-me-about-settings-change"></span> 
                                    </span>
                                </label>
                                <select id="cb-notify-me-about-settings-change">
									    <option id="periodically" value="periodically">Periodically</option>
                                        <option id="everytime" value="everytime">Every time</option>
								</select>
                                <div style="clear:both"></div>
							</div>
							<div id="search-NT-Container" class="search-elementsWrapper" >
                                <label class="label_check" for="search-in-new-tab">
                                    <input id="search-in-new-tab" value="1" type="checkbox" />
                                    <span  id="search-in-new-tab-label" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
                           <div class="search-elementsWrapper">
                                <label class="label_check" for="as-404">
                                    <input id="as-404" value="1" type="checkbox" />
                                    <span  id="404handler" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
                            <div id="address-bar-div" class="search-elementsWrapper">
                                <label class="label_check" for="address-bar">
                                    <input id="address-bar" value="1" type="checkbox" />
                                    <span  id="address-bar-label" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
                            <div id="search-suggest-div" class="search-elementsWrapper">
                                <label class="label_check" for="search-suggest">
                                    <input id="search-suggest" value="1" type="checkbox" />
                                    <span  id="search-suggest-label" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>
                             <div class="search-elementsWrapper">
                                <label class="label_check" for="send-usage">
                                    <input id="send-usage" value="1" type="checkbox" />
                                    <span id="send-usage-label" ></span>
                                </label>
                                <div style="clear:both"></div>
							</div>


                             <div class="search-elementsWrapper" id="toolbarVisibility-container">
                                <label class="label_check" for="as-toolbarVisibility">
                                    <input id="as-toolbarVisibility" value="1" type="checkbox" />
                                    <span  id="toolbarVisibility"><span id="before-combobox">Make sure the Community Toolbar is visible every </span> 
								        <select id="cb-toolbarVisibility" style="margin-right:5px; margin-left:5px;">
									        <option id="onceAday" value="1">Once a day</option>
                                            <option id="onceAweek" value="7">Once a week</option>
                                            <option id="onceIn2Weeks" value="14">Once in 2 weeks</option>
                                            <option id="onceIn3Weeks" value="21">Once in 3 weeks</option>
                                            <option id="onceAmonth" value="30">Once a month</option>
								        </select>
								        <span id="after-combobox"> days.</span>
                                    </span>
                                </label>
                                <div style="clear:both"></div>
							</div>


						</div>
                        
                        <div id="content_help" class="appsListPanel">
                            <div class="search-elementsWrapper">
                                <a href="#" id="helpLink" class="link_page" >Help</a>
                            </div>
                            <div class="search-elementsWrapper">
                                <a href="#" id="contactUsLink" class="link_page">Contact Us</a>
                            </div>
                        </div>

                        <div id="content_about" class="appsListPanel">
                            <div id="about_content-container">
                                <div id="about_logo-wrapper">
                                    <img id="about_logo" />
                                </div>
                                <div id="about_inner-content-wrapper">
                                    <div id="about_text">
										<div>&nbsp;</div>									
                                        <div><label id="about_version">Version:</label><span id="about_version_value" class="about_text_span"></span></div>
                                        <div><label id="about_ctid">CTID:</label><span id="about_ctid_value" class="about_text_span"></span></div>
                                        <div><label id="about_userId">ID:</label><span id="about_userId_value" class="about_text_span"></span></div>
										<div id="about_poweredByWrapper">
											<span id="about_poweredByText">Powered by </span>
											<img id="about_ConduitLogo" src="images/conduit-logo.png" alt="conduit" />
										</div>
                                    </div>
                                </div>
                            </div>
                            <div id="about_footer" class="search-elementsWrapper">
								<div id="about_privacy">
									<a href="#" id="privacyLink" class="link_page" >Privacy Policy</a>
								</div>
								<div id="about_EULA">
									<a href="#" id="EULALink" class="link_page">End User License Agreement</a>
								</div>									
                            </div>
                        </div>

					</div>
                     				
				</section>
               <footer>
                        <div id="footer-button-ok"></div>
						<div id="footer-button-cancel"></div>
						<div class="footer-icon-and-version" >
						    <div id="toolbar-icon-wrapper">
							    <img id="toolbar-icon" src="">
						    </div>
						    <div id="toolbar-version"></div>
                        </div>
				</footer>
				</div>
			</div>	 
			<!-- PHC -->
			<script type="text/javascript" src="../../lib/jquery.min.js"></script>
			<script type="text/javascript" src="../../lib/jquery.tmpl.min.js"></script>
			<script type="text/javascript" src="../../lib/json2.js"></script>
			<script type="text/javascript" src="../../lib/jquery.xml2json.custom.min.js"></script>
			<script type="text/javascript" src="../../core/framework.js"></script>		
			<script type="text/javascript" src="../../../ConduitAbstractionLayerFront.js"></script>
			<script type="text/javascript" src="../../core/corelibs.js"></script>
            <script type="text/javascript" src="js/resources/jquery.mousewheel.js"></script>
            <script type="text/javascript" src="js/resources/jquery.jscrollpane.min.js"></script>

            <script id="appsListPanelTemplate" type="text/x-jquery-tmpl">
                <div id="${id}" class="appsListPanel{{if $item.isSelected}} selectedPanel{{/if}}">
                    <ul>
						{{each appsData}}
						{{if !$value.isPersonalApp || $item.renderPersonalApps}}
						<li id="${$value.appId}" class="webApp-settings-main-li{{if $item.isAppDisabled($value)}} disable{{/if}}" {{if $value.isPersonalApp}} data-personalapp="1" data-appType="${$value.appType}"{{/if}} {{if $value.viewData}} data-renderView="true"{{/if}} {{if $value.dontShowInOptions}}style="display:none"{{/if}}>
						
                     	
                        
                        
                        <div class="webApp-settings-img-wrapper">
							<img src="
								{{if $value.displayIcon}}
									${$value.displayIcon}
								{{else}}
									images/minibrowser.png
								{{/if}}	
							" class="webApp-settings-icon" />
						</div>
						
						<div class="webApp-settings-name">${$value.displayText}</div>

						<div class="webApp-settings-button-wrapper">
							<a class="webApp-settings-button" href="#">
                                <div class="webApp-settings-button-white-border" data-appClientGuid="${$value.appClientGuid}" data-appGuid="${$value.appGuid}">
							        {{if $item.isAppDisabled($value)}}${$item.texts.show}{{else}}${$item.texts.hide}{{/if}}
                                </div>
							</a>
                     
						</div>

                        {{if $value.isUserApp || $value.isUserWebApp}}
						    <a class="remove-app" data-action="remove" data-appClientGuid="${$value.appClientGuid}" data-appGuid="${$value.appGuid}" id="${$value.appGuid}" href="#">
                                ${$item.texts.remove}	
						    </a>
						{{/if}}
					</li>			
					{{/if}}
					<!--<li class="webApp-settings-sub-li"></li>-->	
						{{/each}}
                    </ul>
                </div>
            </script>

			<!-- template start -->
			<script id="components-list-template" type="text/x-jquery-tmpl">
			${JSON.stringify($value)}
				
				<!--<li class="webApp-settings-sub-li"></li>-->			
			</script>
			<!-- template end -->
			
			<!-- template start -->
			<script id="notifications-list-template" type="text/x-jquery-tmpl">  
				<li id="" class="webApp-settings-main-li notifications">					
						<div class="notifications-webApp-settings-img-wrapper">
							<img src="${channelLogo}" class="webApp-settings-icon" />
						</div>

                        <div class="webApp-settings-name">${channelName}</div>
					
					<div class="checkboxes-wrappers">
						<select class="combo-main" id="${channelName}">
	                        <option class="always" value="always" title="Show all from this source">Show all from this source</option>
							<option class="timeAday" value="timeAday" title="Limit daily notifications to">Limit daily notifications to</option>
							<option class="never" value="never" title="Don't show">Don't show</option>
						</select>
						
						<select class="combo-days" id="${channelName}" style="display:
							{{if rule == 'timeAday'}}
								inline
							{{else}}
								none
							{{/if}}">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>							
						</select>	
					</div>	
				</li>						
			</script>
			<!-- template end -->
			
			<script type="text/javascript" src="js/options.js"></script>
          </body>
</html>





