body {
          background-color: #eee;
          font-size: 14px;
}

#backArea {
          display:none;
}

#stationPlaceHolder {
          height:140px;
          overflow: hidden;
}

#scrollUp, #scrollDown {
          /*display:none;*/
          margin-left:20px;
}