<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Menu App</title>
    <meta charset="utf-8">
    <link type="text/css" rel="Stylesheet" href="css/menu.css" />
    <script src="../../../lib/jquery.min.js"></script>
    <script src="../../../lib/jquery.tmpl.min.js"></script>
    <script src="js/scrollers.js"></script>
    <script src="js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="js/jquery.ellipsis.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/menu.js"></script>

    <script type="text/javascript" src="../../wa/browserAppApi.js"></script>
    <script type="text/javascript" src="js/showHandler.js"></script>
</head>
<body>

<div id="popupContainer">
    <div id="p0" class="popup">
        <div id="topBorder">
            <div id="topBorderRight"></div>
            <div id="topBorderLeft"></div>
        </div>
        <div class="scroll up"><p></p></div>
                <div class="menuWrap uiMenuContent"></div>
        <div class="scroll down"><p></p></div>
    </div>
</div>
<script id="menuItemTemplateLink" type="text/x-jquery-tmpl">
    <a unselectable="on" style="TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden; padding-left: ${ $item.nestingDepth * 17 + 18 + 'px'};
        {{if item.appType === "MENU" || item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "RSS")}}
            background-position: ${ $item.nestingDepth * 17 + 6 + 'px 8px'};
        {{/if}}
        {{if item.isMinimized === true }}
            color: red;
        {{/if}}
        "
        {{ data-itemContext="${JSON.stringify(item)}"}}
        {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "LINK")}}
            target="${item.data.data.link.target}"
            href="${item.data.data.link.url}"
            menuItemType="LINK"
			data-itemappid="${item.appId}"
        {{/if}}    
        
        {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "POP_HTML")}}
            data-popup="${JSON.stringify(item.data.data.popHtml)}" data-itemappid="${item.appId}" menuItemType="POP_HTML"
        {{/if}}    
        
        {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "COMMAND")}}
            id="${$item.nestingDepth + "_" + index}"
            data-command="${item.data.data.command.type}"
            menuItemType="COMMAND"
			data-itemappid="${item.appId}"
            {{if item.data.data.command.type === 'TOGGLE_COMMAND'}}
                state-command ="${item.data.data.command.toggleCommand.state1.command}"
                data-function = "${toggle($item.nestingDepth, index,item.data.data.command.toggleCommand)}"
            {{/if}}
        {{/if}}    
        {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "RSS")}}
            data-function="${buildRssData(item.data.data.rss,$item.nestingDepth)}"
            menuItemType="RSS"
        {{/if}}    
        
        {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "APPLICATION")}}
            appName="${item.data.data.application.exeAlias}"
            params="${item.data.data.application.params}"
            url="${item.data.data.application.appNotFoundUrl}"
            menuItemType="APPLICATION"
        {{/if}}    
    >                    
        <span unselectable="on" class="icon-wrap">{{if typeof(item.data) === "object" && item.data.iconUrl}} <img src="${item.data.iconUrl}"> {{/if}}</span>
        <span unselectable="on" class="text-wrap"
              title="{{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.hint && item.data.data.type === "COMMAND")}}${item.data.data.hint}{{else}}{{if item.data.hint}}${item.data.hint}{{else}}${item.data.caption || ""}{{/if}}{{/if}}"
        >${item.data.caption || ""}</span>
    </a>
</script>
<script id="menuTemplate" type="text/x-jquery-tmpl">
    <ul unselectable="on" class="menu{{if $item.nestingDepth === 0}} root{{/if}}" {{if $item.nestingDepth > 0}}style="display: none;"{{/if}}>
        {{each(i, item) items}}
            {{if item.appType === "SEPARATOR"}}
                <li unselectable="on"><div class="separator"></div></li>
            {{else}}
            <li unselectable="on"  nestingDepth="${$item.nestingDepth}" class="
                    item
                {{if item.appType === "MENU" || item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "RSS")}}
                    parent closed
                {{/if}}"
                
                {{if item.appType === "MENU_ITEM" && (item.data && item.data.data && item.data.data.type === "RSS")}}
                    id="${ stripUrl(item.data.data.rss.url) }"
                {{/if}}
            >
                {{tmpl({ item: item, index: i }, {nestingDepth: $item.nestingDepth }) "#menuItemTemplateLink" }}


            </li>
            {{/if}}
        {{/each}}
    </ul>
</script>


<script src="js/renderHandler.js"></script>
</body>
</html>
