*{
    box-sizing: content-box;
}
html,body{
    height:100%;
}
body {
    margin:0px;
    padding:0px;
}

ul,li{
    margin:0px;
    padding:0px;
    list-style: none;
}

/* app styling*/
.body {
    border: 1px solid #000;
    border-top:none;
    border-bottom:none;
    background-color: red;
}

.ui-gap{
    background: transparent;
    display: block;
    height: 1px;
}

#mainContainer {
    padding: 0px;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #000;
    margin: 0;
    overflow: hidden;
}

ul#history {
    margin: 0px;
    padding-top: 5px;
}

li.separator{
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-color: #000000;
    border-style: solid;
}

li.header_left {
    line-height: 1.3em;
    height: 13px;
    font-family: Arial;
    font-size: 11px;
    color: silver;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 5px;
    list-style:none;
    clear: both;
}

li.header_right {
    direction: rtl;
    line-height: 1.3em;
    height: 13px;
    font-family: Arial;
    font-size: 11px;
    color: silver;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 5px;
    list-style:none;
    clear: both;
}

li.item {
    cursor: pointer;
    direction: ltr;
    line-height: 1.5em;
    height: 20px;
    font-family: Arial;
    font-size: 12px;

    padding-left: 4px;
    padding-right: 5px;
    clear: both;

}

li.item.hover:hover{
    background-color: #dddddd;
}


li.checked {
    background-color: #dddddd;
}

li.item div{
    display: block;

}


li.item div.googleHistory, li.item div.googleSuggest, li.item div.providerSuggest{
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
    padding-left: 2px;
    /*padding-left: 2px;*/
}
/*
li.item div.googleSuggest{
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}

li.item div.providerSuggest{
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
}
*/

li.item div.providerHistory{
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
    padding-left: 2px;
    color:#0E7FC7;
}

.caption{

}

/*li.item div.caption {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
    padding-left: 2px;
}*/

li.item div.captionHist {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: left;
    padding-left: 2px;
    overflow: hidden;
    color: #52188c;
}

.threeDots {
    width: 5px;
}

.float {
    float: left;
}

.clear {
    clear: both;
}

.remove {
    cursor:pointer;
    display: none;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top:3px;
    float: right;
}

.wrapper {
    background: white;
    width: 100%;
    background: transparent;
}
#clearHistory {
    font: 10px Arial;
    color: #0e7fc7;
    padding-left: 3px;
    margin-right: 5px;
    background: transparent;
    text-align:right;
}

.disabled {
    cursor: default;
}
.enabled {
    padding-right: 3px;
    padding-left: 3px;
}
.enabled:hover {
    cursor: pointer;
    text-decoration: underline;
}

.rtl #clearHistory {
    text-align:left;
}
.rtl .remove, .rtl .float {
    float: right;
}
.rtl li.item .rtl{
    float: right;
}

.rtl li.header_left {
    direction: rtl;
    text-align: right;
}

.rtl .threeDots {
    direction: rtl;
    float: right;
}


.noHistoryLine {
	color: #808080;
	display: none;
	font-style: italic;
	text-align: center;
	width:100%;
	font-size: small;
	margin-top: 5px;
}
