html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: relative;
}
body{ font-family: Arial, Sans-Serif }
#outer_box
{
    /*margin: 12px 0px 0px 12px;*/
    width: 370px; 
    border: 1px solid black; 
    /*border-radius: 5px;
    -moz-border-radius: 5px;*/
    box-shadow: 0 0 2px 13px #5B666C;
    -moz-box-shadow: 0 0 2px 13px #5B666C;
    background-color: white;
}

#title_block
{
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    padding: 10px 0px 10px 13px;
    margin: 0px 0px 9px 0px;
    background-color: #EBEEF3;
    border-bottom: 1px solid #DEDFE3;
    font-size: 16px;
    color: #384753;
}

#options_block
{
    display: none;
	padding-bottom:1px
}

#middle_block
{
	min-height: 180px;
	overflow: hidden;
}

#sub_title_block
{
	min-height: 34px;
	padding-bottom: 11px;
}

#sub_title_img
{
    width:36px;
    height:33px;
    margin: 0 12px;
	vertical-align: middle;
}

#sub_title
{
	display: inline-block;
	font-family: Arial,Sans-serif;
	font-size: 17px;
	font-weight: bold;
	vertical-align: middle;
	width: 290px;
	line-height: 16px;
}

#seperator_line
{
    background-image:url(images/separation-line.png);
    background-repeat:no-repeat;
    width:359px;
    height:1px;
    margin: 0px 0px 0px 6px;
}

#radio_container_1 
{
    margin: 14px 0px 0px 22px;
    clear:both;
}

#radio_container_2
{
    margin: 12px 0px 0px 22px;
    clear:both;
}

#radio_1
{
    float: left;
    margin: 0px 0px 2px 0px;
}

#radio_2
{
    float: left;
    margin: 0px 0px 20px 0px;
}

#radio_text_1
{
    margin: 0px 12px 0px 22px;
}

#radio_text_2
{
    margin: 0px 12px 0px 22px;
}

.radio_text 
{
    font-size: 14px;
    color: #0a1528;
}

#bottom_block
{
    clear:both;
    margin: 10px 0px;
}

#learn_more_link
{
    float: left;
    font-size: 12px;
    color: #5DA5D5;
    text-decoration:underline;
    cursor: pointer;
    margin: 10px 0px 0px 44px;
    width: 213px;
    display: inline;
}

#ok_button
{
    font-weight: bold;
    font-size: 17px;
    color: #0A80CC;
    width:93px;
    height:33px;
    cursor: pointer;
}

#learn_more_block
{
    display: none;
    margin: 0px 12px 0px 12px;
    font-size: 14px;
    color: #0A1528;
    min-height: 202px;
}

#text_block
{
    overflow: auto;
}

#par_1
{
    margin: 0px 0px 15px 0px;
}

#par_2
{
    margin: 0px 0px 0px 0px;
}

#back_button
{
    font-weight: bold;
    font-size: 17px;
    color: #0A80CC;
    width:93px;
    height:33px;
    cursor: pointer;
    margin: 10px 0px 0px 245px;
}

