<!doctype html>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<![endif]-->
<!--[if IE 8 ]>    <html class="ie_8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <script src="../lib/background.js"></script>
    <title>Smartbar</title>
    <link rel="Stylesheet" type="text/css" href="ac/css/toolbar.css" />
    <script src="../lib/jquery.min.js"></script>

    <!--[if IE]>
            <script type="text/javascript" src="../lib/ie_fix.js"></script>
            <script type="text/javascript" src="../../abstractionlayer.frontstage.js"></script>
            <script type="text/javascript" src="../../abstractionlayer.commons.js"></script>
        <![endif]-->
    <!-- PHC -->
    <!-- Safari -->
    <!-- Safari1 -->
    <script src="../core/framework.js"></script>
    <script src="../../ConduitAbstractionLayerFront.js"></script>
    <script src="api/webAppApiFront.js"></script>
    <script src="../core/corelibs.js"></script>
    <script src="../lib/al.view.js"></script>

</head>
<body onselectstart="return false">
    <div id="splitterLayer">
    </div>
    <div id="toolbar">
		<div id="noScrollPanelWrapper" class="toolbarSection">
			<div id="noScrollPanel">
			</div>
		</div>
        <div id="splitter" data-avoidcontroller="1" data-type="splitter">
            <div id="splitter-inner-borders" data-avoidcontroller="1">
            </div>
        </div>
        <div id="scrollPanelWrapper" class="toolbarSection">
            <div id="scrollPanel">
            </div>
        </div>
        <div id="scrollButtonsPanel" class="toolbarSection">
            <a id="scrollLeftBtn" title="Scroll left" data-avoidcontroller="1"></a>
            <a id="scrollRightBtn" title="Scroll right" data-avoidcontroller="1"></a>
        </div>
        <!-- chanaged to absolute position-->
        <div id="rightMenuPanel">
           <a id="uiUserUpdates" data-type="user_updates_alert" class='rightMenuButton' title="You have updates" style="display:none"></a>
            <a id="optionsBtn" data-type="options" class='rightMenuButton' title="Manage your toolbar settings"></a><a id="myStuffBtn"
                data-type="mystuff" class='rightMenuButton' title="Thousands of free apps for your toolbar"></a>
        </div>
    </div>    
    <script type="text/javascript" src="../lib/al.viewPerformanceLog.js"></script>
    <script id="webappViewButtonTemplate" type="text/x-jquery-tmpl">
	        <img class="appView_icon"{{if !icon}} style="display:none"{{else}} src="${icon}"{{/if}}  />
	        <span class="appView_text"
				{{if !text || text==""}} 
					style="display:none"
				{{else}}	
                    {{if design}}
					    style="text-decoration:${design.textDecoration}"
                    {{/if}}
				{{/if}}
			>{{if text}}${text}{{/if}}</span>
    </script>
    <script id="webappViewTemplate_button" type="text/x-jquery-tmpl">
	        <a {{if bIsStartInHideMode}}style="display:none"{{/if}} id="${appId}" data-appId="${appId}" data-isMinimized="false" class="appView appView_button{{if className}} ${className}{{/if}} {{if isUserApp}} userapp{{/if}}" {{if tooltip}} title="${tooltip}"{{/if}} data-type="button" data-method="${method}" settingsAppType="${settingsAppType}">
                <div class="rcl"></div>
			    <div class="rcr"></div>
		        {{tmpl($data) "#webappViewButtonTemplate"}}
		        <span class="appView_badge appView_badge_${badge.text.length}" style="background-color:${badge.color};{{if badge.text}} display:block;{{/if}}">{{if badge.text}}${badge.text}{{/if}}</span>
		        <span class="appView_minimize">+</span>
	        </a>
    </script>
    <script id="webappViewTemplate_embedded" type="text/x-jquery-tmpl">
		<div class="appView_embedded {{if isUserApp}} userapp{{/if}}" id="${appId}" settingsAppType="${settingsAppType}" style="{{if embedded.size.marginTop}}padding-top: ${embedded.size.marginTop}px; {{/if}} {{if bIsStartInHideMode}}display:none;{{/if}}">
			<iframe data-type="embedded" allowTransparency="true" class="appView appView_embedded_iframe" src="${embedded.url}" scrolling="no" frameBorder="0" style="{{if isCollapsed}}display: none; {{/if}} {{if embedded.size.width}} width: ${embedded.size.width}px;{{/if}} {{if embedded.size.height <30}}height: ${embedded.size.height}px;{{/if}}" />
            <a id="${appId}_btn" data-appId="${appId}" class="appView appView_button appView_button_embedded"{{if isCollapsed}} style="display:block"{{/if}}{{if tooltip}} title="${tooltip}"{{/if}} data-type="button" data-method="popup">
				<img class="appView_icon"{{if icon}} src="${icon}"{{/if}}   />
            </a>
			</div>
    </script>
    <script id="webappViewTemplate_separator" type="text/x-jquery-tmpl">
	        <span id="${appId}" class="appView appView_separator"></span>
    </script>
    <script id="webappViewTemplate_menu" type="text/x-jquery-tmpl">
	        <div style="{{if isExternalComponent}} display: none; {{/if}}" id="${appId}" data-appId="${appId}" data-type="button" data-method="menu" class="appView appView_menu" {{if tooltip}} title="${tooltip}"{{/if}} settingsAppType="${settingsAppType}">
                
                <div class="rcl"></div>
                <div class="rcr"></div>

		        <a data-appId="${appId}" class="appView appView_menu_base {{if hasLink}}appView_button appView_menu_link{{/if}}" data-type="button" data-method="{{if hasLink}}link{{else}}menu{{/if}}">
		        {{tmpl($data) "#webappViewButtonTemplate"}}
		        </a>
		        <a data-appId="${appId}" class="appView {{if hasLink}}appView_button appView_menu_arrow{{else}}appView_menu_arrow_nohover{{/if}}"  data-type="button" data-method="menu"></a>
	        </div>
    </script>
    <script id="webappViewTemplate_label" type="text/x-jquery-tmpl">
			<div id="${appId}" class="appView appView_label" >
		        {{tmpl($data) "#webappViewButtonTemplate"}}
			</div>
    </script>
    <script id="webappViewTemplate_webapp" type="text/x-jquery-tmpl">
			<a {{if bIsStartInHideMode}}style="display:none"{{/if}} id="place_holder_${appId}" data-appId="${appId}" data-isMinimized="false" class="appView appView_button appView_webapp" {{if tooltip}} title="${tooltip}"{{/if}}>
                <div class="rcl"></div>
			    <div class="rcr"></div>
		        {{tmpl($data) "#webappViewButtonTemplate"}}
	        </a>
    </script>
    <script src="../lib/jquery.tmpl.min.js"></script>
    <script src="ac/res/yoxscroll.js"></script>    
    <script src="ac/appManager.view.js"></script>
    <script src="ac/appManager.controller.js"></script>
</body>
</html>

