body 
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 9pt;
	color: #486086;
	padding: 0; margin: 0;
	background: White;
	overflow:hidden;
}
.menuItemDiv, a{ text-decoration: none; color: #49608a; }
{ text-decoration: none; color: #49608a; }
h1, h2{ color: #49608a; margin: 0; padding: 0; }

/* Clearfix: */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

#main{ position: absolute;  }
.header{
	background: none repeat scroll 0 0 #E1E1E1;
	border-bottom: 1px solid #B6B9C0;
	height: 40px;
	line-height: 40px;
	padding: 0 6px;
	text-overflow : ellipsis;
	white-space : nowrap;
	overflow : hidden;
}
#appTitle, #feedTitle{ font-size: 12pt; }
#appTitle{ display: none }
#feedMenu{ float: right; margin-top: 12px; }

/* Sidebar */
#sidebar{
	box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
	border-right: 1px solid #B6B9C0;
	float: left;
	width: 219px;
	z-index: 2;
	position: relative;
	height: 101%;
}
.iconBtn, #feedMenu a{
	display: block;
	width: 17px;
	height: 15px;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	float: right;
	margin-left: 10px;
	text-indent: -999px;
}
.unreadBtn{ background-position: 0 0 }
.unreadBtn:hover, .unreadBtn.disabled{ background-position: 0 -15px }
.readBtn{ background-position: -17px 0 }
.readBtn:hover, .readBtn.disabled{ background-position: -17px -15px }
.deleteBtn{ background-position: -34px 0 }
.deleteBtn:hover, .deleteBtn.disabled{ background-position: -34px -15px }
.refreshBtn{ background-position: -51px 0 }
.refreshBtn:hover,.refreshBtn.disabled{ background-position: -51px -15px }
#feedMenu a.disabled{ cursor: default }


#feedsMenuWrap{ position: relative; width: 100%;}
#feedsMenu{ position: absolute; width: 100%;}
#feedsMenu a{
	display: block;
	height: 16px;
	padding: 12px 12px 12px 43px;
	background-position: 12px 12px;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	border-bottom: solid 1px White;
}
#feedsMenu .menuItemDiv:hover, #feedsMenu .menuItemDiv.selectedFeed{ background: #ebebeb ;cursor: pointer; border-bottom: 1px solid #B6B9C0;
	border-top: 1px solid #ddd;}

.menuItemDiv{
	position:relative;
	height:25px;
	width:100%;
	padding: 7px 3px;
	border-bottom: 1px solid White;
	border-top: 1px solid White;
}
.menuItemDisplayIconDiv{
	float:left;
	margin:0 4px;
	position: relative;
	top: 4px;
}
.menuItemDisplayTextDiv{
	float:right; 
	position:absolute;
	left:35px;
	top:10px ;	
	text-overflow : ellipsis;
	white-space : nowrap;
	width:174px;
	overflow : hidden;
}
.menuItemDisplayIconDiv img{ 
    max-width:24px;
    max-height:24px;
}

.menuItemBadge{
	background: url("../img/badges.png") no-repeat scroll 0 top transparent;
	color: White;
	display: block;
	font-size: 7pt;
	height: 11px;
	left: 12px;
	position: absolute;
	text-align: center;
	top: 9px;
	width: 31px;
}
.menuItemBadge_1{ background-position: -17px top; width: 12px; left: 12px; }
.menuItemBadge_2{ background-position: -12px -11px; width: 18px; left: 10px; }
.menuItemBadge_3{ background-position: -7px -22px; width: 23px; left: 6px; }
.menuItemBadge_4{ background-position: -1px -33px; width: 29px; left: 6px; }

#menuNav{
	background: none repeat scroll 0 0 #EBEBEB;
	border-top: 1px solid White;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
#menuNav a{
	display: inline-block;
	width: 17px;
	height: 9px;
	background-image: url(../img/arrows.png);
	background-repeat: no-repeat;
	margin: 0 8px;
}
#slideDown{ background-position: 0 -9px }
#slideDown:hover, #slideDown.disabled{ background-position: 0 0 }
#slideUp{ background-position: -17px -9px }
#slideUp:hover, #slideUp.disabled{ background-position: -17px 0 }
#menuNav .disabled{ cursor: default }

/* Items */
#content{ margin-left: 220px; height: 100%; width: 393px }
#feedTitle{ float: left; width: 273px; overflow: hidden; text-overflow : ellipsis; white-space : nowrap;height: 100%;}
#itemsList{ 
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	padding-top: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 393px;
}
.feedItem{
	padding: 10px 20px;
	border-bottom: solid 1px #b6b9c0;
	background: #ebebeb;
	position: relative;
	width: 336px;
	margin: 0;
	/* cursor: pointer; */
}
.feedItem img{ vertical-align: top; max-width: 100px; }
.feedItemTitle{ font-size: 10pt; margin-bottom: 10px; font-weight: bold; display: block;}
.readFeedItem .feedItemTitle{  }
.readFeedItem{ background: White }
.feedItemTitle:hover{ text-decoration: underline }
.feedItemText a{ text-decoration: underline }
.feedItemText a:hover{ color: Black }
.feedItemText { word-break: break-all }

.feedItemImage{	margin-right: 10px;	float: left; height: 50px; width: auto; border: solid 1px #506d7f; }
.feedItemDate{ display: block; margin-top: 10px; color: #a7b2c4; }
.feedItemButtons{ display: none; position: absolute; bottom: 10px; right: 10px; width: 100px; height: 16px; }