html,body{
	height:100%;
}

body
{
	overflow:hidden;
	font-family: Tahoma;
	font-size: 11px;
	margin:0px;
	padding:0px;	
}

#dc{
	width: 550px;
	height: 320px;
	background-color: #F4F6FA;
	margin:0px auto;
	padding:0px;
	overflow:hidden;	
	/*border: 1px solid #909090;*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

li {
  white-space: nowrap;
}


#divContent
{
	width: 530px;
	padding-top: 10px;
	background-color: #F4F6FA;
}

#editAccountList
{
	margin: 0px;
	list-style-type: none;
	width: 437px;
	border: 1px solid #e4e4ed;
	background-color: #FAFBFD;
	overflow: hidden;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#editAccountList li
{
}

#editAccountList li.selected
{
	background-color: #E3E6F3;
}


#divMenuMoreItems
{
	position: absolute;
	background-color: #f5f6fa;
	border: 1px solid #d2d2e2;
	z-index: 999;
	display: none;
	margin-top: 6px;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
}

#divMenuMoreItems ul
{
	position: relative;
	margin: 0px 0px;
	list-style-type: none;
}

#divMenuMoreItems ul li
{
    padding: 7px 5px;
	border-bottom: 1px solid #e4e4ed;
	position:relative; 
	left:-35px;
	cursor:pointer;
}

#divLoading
{
	position: absolute;
	background-color: white; 
	display: none;
	z-index: 999;
	opacity:0.5;
	text-align: center;
	width:529px;
	height:170px;
}

img
{
	vertical-align: middle;
	border: none;
}

img.refresh
{
	padding-left:8px;
	cursor:pointer;
}

a
{
	cursor: pointer;
}
a:hover
{
	text-decoration: underline;
}

a.bold
{
	font-weight: bold;
}

.blueText, a
{
	color: #3688AA;
	text-decoration: none;
	font-size: 12px;
}

input.text
{
	border: 1px solid #cccbcb;
}

span
{
	color: #415377;
}

span.bold
{
	font-weight: bold;
}

span.small
{
	font-size: 9px;
}

span.successMessage
{
	background-color: #E0F2E3;
	color: #59A967;
}
span.failedMessage
{
	background-color: #f7e3e4;
	color: #ce6767;
}

span.mailCellField
{
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

span.mailCellDateTime
{
	font-size: 9px;	
	color: #626262;
	font-size: 9px;
	color: #626262;
	line-height: 16px;
	text-align: center;	
}

span.infoMessage
{
	background-color: #f7f8fb;
	color: #8593a9;
}

span.digit
{
	font-family: Arial;	
	line-height: 11px;
	display:inline-block;
	color: White;
	font-size: 11px;
	background-repeat: no-repeat;
	background-position: center center;
}
span.digit.single{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/single_digit_badge.png");	
	width: 13px;
}
span.digit.double{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/double_digit_badge.png");	
	width: 19px;
}
span.digit.triple{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/triple_digit_badge.png");	
	width: 25px;
}

table.rowSpacer td
{
	padding-top: 5px;
}

table td.singleDigit
{	
    padding-top: 4px;
	width: 13px;
}

table td.doubleDigit
{
    padding-top: 4px;
	width: 19px;
}

table td.tripleDigit
{
    padding-top: 4px;
	width: 25px;
}


div.accountContainer
{
	border: 1px solid #E4E4ED;
	background-color: #FDFDFE;
	padding-top: 4px;
	padding-left: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div.PasswordSecurity
{
	color: #6e7582;
	vertical-align: middle;
}

div.floatLeft
{
	float: left;
}
div.floatRight
{
	float: right;
}

div.successMessage
{
	background-color: #E0F2E3;
	color: #59A967;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 20px;
}
div.failedMessage
{
	background-color: #f7e3e4;
	color: #ce6767;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 20px;
}

div.infoMessage
{
	background-color: #f7f8fb;
	color: #8593a9;
	vertical-align: middle;
	line-height: 20px;
}

div.addAccountSpacer1
{
	margin-left: 25px;
	/*margin-top: 10px;*/
}


div.addAccountSpacerHover
{
	background-color:#e3e6f3;
}

#btnAddSubmit {
    padding:0 0 0 180px;
}

div.btnContainer
{
	border: 0; 
	position: relative; 
	top: -5px;
}

div.btnLeft
{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_regular.png");
	width:4px;
	height:26px;
	cursor: default;
}

div.btnLeft_hover
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_hover.png");
	width:4px;
	height:26px;
	cursor: pointer;
}

div.btnLeft_disabled
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_disabled.png");
	width:4px;
	height:26px;
	cursor: default;
}

div.btnCenter
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_center_regular.png");
	height:26px;
	text-align: center;
	font-size: 12px;
	cursor: default;
}

div.btnCenter span
{
	padding:0px 7px;
	position: relative;
	top: 5px;
}

div.btnCenter_hover
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_center_hover.png");
	height:26px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

div.btnCenter_hover span
{
	padding:0px 7px;
	position: relative;
	top: 5px;
}

div.btnCenter_disabled
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_center_disabled.png");
	height:26px;
	text-align: center;
	font-size: 12px;
	cursor: default;
}

div.btnCenter_disabled span
{
	padding:0px 7px;
	position: relative;
	top: 5px;
}

div.btnRight
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_regular.png");
	width:4px;
	height:26px;
	cursor: default;
}

div.btnRight_hover
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_hover.png");
	width:4px;
	height:26px;
	cursor: pointer;
}

div.btnRight_disabled
{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_disabled.png");
	width:4px;
	height:26px;
	cursor: default;
}

div.mailContainer
{
	padding: 4px 8px;
	height: 31px;
	border-bottom: 1px solid #E4E4ED;	
	line-height: 31px;
	cursor: pointer;
}

div.mailField
{
	margin-right: 18px;
}

div.mailLastField
{

}

input.btnUp
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_up_regular.png");
	width: 22px;
	height: 22px;
	cursor: default;
}


input.btnUp:hover
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_up_hover.png");
	width: 22px;
	height: 22px;
	cursor: pointer;
}

input.btnUp_disabled
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_up_disabled.png");
	width: 22px;
	height: 22px;
	cursor: default;
}

input.btnDown
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_down_regular.png");
	width: 22px;
	height: 22px;
	cursor: default;
}

input.btnDown:hover
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_down_hover.png");
	width: 22px;
	height: 22px;
	cursor: pointer;
}

input.btnDown_disabled
{
	border: none;
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_down_disabled.png");
	width: 22px;
	height: 22px;
	cursor: default;
}

input.width220
{
	width: 220px;
}

input.width158
{
	width: 158px;
}

input.width50
{
	width: 50px;
	text-align: center;
}

input.width200
{
	width:200px;
}



.header
{
    width: 550px;
	height: 20px;
	line-height:20px;
}

.header > .content
{
    padding:0px 10px;
    
    background-color: #6e789e;
    color: #FFFFFF;  
    
    font-size: 13px;    
}

.maincontent
{
	height: 247px;
}

.footerContent
{
	padding-top: 16px;
}

/* TAB Style */
.tab-box
{
	/*padding-bottom: 1px;*/
}

.tab-box a.tabLink
{
    float:left;
    
    margin-right: 2px;
	width:75px;
	height:45px;
    
    outline: none;
    
	border: 1px solid #ededed;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;	
	
	background-color: #F5F6FA;
	
	text-decoration: none;
}
.tab-box a.activeLink
{
    position: relative;
    
	background-color: #E5E8F6;
	
	border: 1px solid #d2d2e2;
	border-bottom:0px;
	border-bottom: none;	
	
	top: 2px;
}

.tab-box a.tabLink > table
{
    width:100%;
    height:100%;
}

.tab-box a.tabLink > table .label
{
    white-space:nowrap;
}

a.tabLinkMenu
{
	border: 1px solid #ededed;
	text-decoration: none;
	background-color: #F5F6FA;
	margin-right: 2px;
	border-bottom: 0px;
	float: left;
}

.hide
{
	display: none;
}

.tabSubTitle
{
	background-color: #E5E8F6;
	border: 1px solid #d2d2e2;
	border-bottom: 1px solid #E4E4ED;
	padding: 7px 10px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}


.blueTitleText
{
	font-size: 11px;
	color: #415377;
	text-decoration: none;
	font-weight: bold;
}



.height170
{
    height: 170px;
}

.height220
{
    height:220px;
}



.tabcontent
{
	border: 1px solid #E4E4ED;
	border-top: 0;
	background: #FAFBFD;
	width: 528px;
	height:170px;
}



.manageAccountItem
{
	border-bottom: 1px solid #e4e4ed;
	line-height: 39px;
	height: 39px;
	width: 477px;
	vertical-align: middle;
	position: relative;
	left: -40px;
    cursor:pointer;
    
}
.manageAccountItem span{
    text-decoration:underline;
}


.accountStatusMessage
{
	margin-top: 15px;
	overflow: hidden;
}

.paddingLeft15
{
	padding-left: 15px;
}

.marginLeft10
{
	margin-left: 10px;
}

.marginRight10
{
	margin-right: 10px;
}

.marginRight15
{
	margin-right:15px;
}

.marginLeft15
{
	margin-left:15px;
}

.marginTop5
{
	margin-top: 5px;
}

.paddingTop5
{
	padding-top: 5px;
}

.paddingLeft3
{
	padding-left: 3px;
}

.marginLeft8
{
	margin-left:8px;
}

div.popupMessage
{
	width: 400px;
	font-size: 13px;
	border: 1px solid #909090;
	text-align:left;
}
div.popupHeader
{
	background-color: #6e789e;
	height: 20px;
	width:100%; 
	color: #FFFFFF;	
}
div.popupContent
{	
	background-color:white;
	width:100%; 
	height: 100px;	
}

div.popupFooter
{
    height: 35px;
	padding-top: 16px;
	border-top: solid 1px #dedede;
	background-color: #F4F6FA;
}

#cmbInterval{
	text-align:right;
}

#popupMainMessage
{
    line-height:1.75em;
}	

.action_link img{
    vertical-align:text-bottom;
}
.action_link label{
	padding-left:1ex;
	padding-right:1ex;
}

#ulMoreAccounts li a
{
    margin-left:7px;
    text-decoration:none;
}

#ui-view-manage-accounts-controls-opposite{
	margin-right:40px;
}

/*
    Dialog styles
*/


.glassPanel{
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
    width:100%;
    height:100%;
    display: none;
    background: rgba(200,200,200,0.33);
}

.dialog{
    position: absolute;
    z-index: 1000;
    width:400px;
    height:180px;
    top:64px;
    left:64px;

    border:1px solid #909090;

    direction: ltr;
    font-family: Verdana, Arial;
    font-size: 13px;
    text-align: left;
    box-shadow: 2px 2px rgba(126,126,126,0.3);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}
.rtl .dialog{
    direction: rtl;
}
.dialog header{
    display: block;
    position:relative;
    background: #6e789e;
    color:#fff;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #DEDEDE;
}
.rtl .dialog header {
    text-align: right;
}

.dialog header label{
    margin-left:1ex;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}
.rtl .dialog header label{
    margin-left:0ex;
    margin-right:1ex;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.dialog header .icons{
    position:absolute;
    right: 4px;
    top: 1px;
    display: inline-block;
}
.rtl .dialog header .icons{
    right:auto;
    left: 4px;
}
.dialog header a.icon{
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    background-position: center center;
    background-repeat: no-repeat;

}

.dialog header a.close{
    background-image: url('http://emailnotifier.webapps.conduitapps.com/close_app.png');
}
.dialog section.content{
    display: block;
    background: #FFFFFF;

    color: #415377;
    line-height: 1.75em;
    height: 108px;

    padding: 1px;
}
.dialog section.content > section{
    margin:1em 2ex;
    padding: 0px;
    padding-left: 64px;
    background: url('http://emailnotifier.webapps.conduitapps.com/question_icon.png') no-repeat 12px 50% ;
    text-shadow: 2px 2px rgba(256,256,256,0.3);
    height:80px;
}
.rtl .dialog section.content > section{
    padding-left: 0px;
    padding-right: 64px;
    background-position: center right;
    text-align: right;
}

.dialog footer{
    position:relative;
    bottom: 0px;

    display: block;
    line-height: 48px;
    height: 48px;

    border-top: 1px solid #DEDEDE;

    background: #F4F6FA;

    text-align: center;
}

.dialog footer a.button{
    text-align: center;
    color: #3688AA;
    line-height: 24px;
    height: 24px;
    margin-top: 12px;
}

.dialog footer a.button.major {
    border:1px solid #738199;
    border-radius: 2px;
    min-height: 24px;
    min-width: 24px;
    display: inline-block;
    padding-left: 2ex;
    padding-right: 2ex;
    text-decoration: none;
    background: #feffff;
    background: -moz-linear-gradient(top,  #feffff 0%, #d6d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d6d6d6));
    background: -webkit-linear-gradient(top,  #feffff 0%,#d6d6d6 100%);
    background: -o-linear-gradient(top,  #feffff 0%,#d6d6d6 100%);
    background: -ms-linear-gradient(top,  #feffff 0%,#d6d6d6 100%);
    background: linear-gradient(to bottom,  #feffff 0%,#d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d6d6d6',GradientType=0 );

}
.dialog footer a.button.major:hover, .dialog footer a.button.major.hover {
    background: #feffff;
    background: -moz-linear-gradient(top,  #feffff 0%, #ececed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#ececed));
    background: -webkit-linear-gradient(top,  #feffff 0%,#ececed 100%);
    background: -o-linear-gradient(top,  #feffff 0%,#ececed 100%);
    background: -ms-linear-gradient(top,  #feffff 0%,#ececed 100%);
    background: linear-gradient(to bottom,  #feffff 0%,#ececed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ececed',GradientType=0 );
}

.dialog footer a.button.minor {
    font-size: 12px;
    margin-left:2ex;
}
.rtl .dialog footer a.button.minor {
    margin-left:0ex;
    margin-right:2ex;
}

/*
    End of:  Dialog styles
*/
