#divMenuMoreItems
{
	position: absolute;
	background-color: #f5f6fa;
	border: 1px solid #d2d2e2;
	z-index: 999;
	display: none;
	margin-top: 6px;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
}

#divMenuMoreItems ul li
{
    padding: 7px 5px;
	border-bottom: 1px solid #e4e4ed;
	position:relative; 
	right:-35px;
}

img.refresh
{
	padding-right:8px;
	cursor:pointer;
}

span.digit
{
	position:relative; 
	left: 2px;
	bottom: 2px;
	color: White;
	font-size: 11px;
}

div.accountContainer
{
	border: 1px solid #E4E4ED;
	background-color: #FDFDFE;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div.floatLeft
{
	float: right !important;
}

div.floatRight
{
	float: left;
}

div.successMessage
{
	background-color: #E0F2E3;
	color: #59A967;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 20px;
}

div.failedMessage
{
	background-color: #f7e3e4;
	color: #ce6767;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 20px;
}

div.addAccountSpacer1
{
	margin-right: 25px;
	margin-top: 10px;
}

div.mailField
{
	margin-left: 0px;
	margin-right: 10px;
	
}

.tab-box a.tabLink
{
    float:right;
    margin-right: 0px;
    width:75px;
    height:45px;
    
    outline: none;
    
	border: 1px solid #d2d2e2;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	text-decoration: none;
	background-color: #F5F6FA;
}

.tab-box a.activeLink
{
	background-color: #E5E8F6;
	border: 1px solid #d2d2e2;
	border-bottom:0px;
	width:75px;
	float:right;
	position: relative;
	top: 2px;
	border-bottom: none;
	outline: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

a.tabLinkMenu
{
	border: 1px solid #d2d2e2;
	text-decoration: none;
	background-color: #F5F6FA;
	margin-left: 2px;
	border-bottom: 0px;
	float: right;
}

.manageAccountItem
{
	border-bottom: 1px solid #e4e4ed;
	line-height: 39px;
	height: 39px;
	width: 496px;
	vertical-align: middle;
	position: relative;
	right: -40px;
    cursor:pointer;
    
}
.manageAccountItem span{
    text-decoration:underline;
}

.paddingLeft15
{
	padding-right: 15px;
}

.marginLeft10
{
	margin-right: 10px;
}

.marginRight10
{
	margin-left: 10px;
}

.paddingLeft3
{
	padding-right: 3px;
}

.marginLeft8
{
	margin-right:8px;
}

.marginRight15
{
	margin-left:15px;
}

.marginLeft15
{
	margin-right:15px;
}

div.btnLeft
{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_regular.png") !important;
	width:4px;
	height:26px;
	cursor: default;
}

div.btnLeft_hover
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_hover.png") !important;
	width:4px;
	height:26px;
	cursor: pointer;
}

div.btnLeft_disabled
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_right_disabled.png") !important;
	width:4px;
	height:26px;
	cursor: default;
}

div.btnRight
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_regular.png") !important;
	width:4px;
	height:26px;
	cursor: default;
}

div.btnRight_hover
{

	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_hover.png") !important;
	width:4px;
	height:26px;
	cursor: pointer;
}

div.btnRight_disabled
{
	background-image: url("http://emailnotifier.webapps.conduitapps.com/btn_left_disabled.png") !important;
	width:4px;
	height:26px;
	cursor: default;
}

.tabSubTitle
{
	background-color: #E5E8F6;
	border: 1px solid #d2d2e2;
	border-bottom: 1px solid #E4E4ED;
	padding: 7px 10px;
	margin-right: 0px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;	
}

#editAccountList
{
	margin: 0px;
	list-style-type: none;
	width: 437px;
	border: 1px solid #e4e4ed;
	background-color: #FAFBFD;
	overflow: hidden;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.popupMessage
{
	width: 400px;
	font-size: 13px;
	border: 1px solid #909090;
	text-align:right;
}

#ui-view-manage-accounts-controls-opposite{
	margin-left:40px;
}

#uiTabContent .jspPane{
    margin-right:16px;
}
#divManageAccount .jspPane{
    margin-right:16px;
}

#btnAddSubmit {
    padding:0 220px 0 0 !important;
    float: right !important;
}