
 /**ver:1.0.0.0*/
    html, body  
    {
         overflow-y: hidden; 
         background-color: transparent;
         height:100%;
    }
    #fblike1
    {
        zoom: 1;
        overflow:hidden;
    }
    #divFacebookLike
    {
        display:none;
        height:40px; 
        overflow:hidden;
        width:450px;
        margin-top:12px;
        background-color:Transparent;
    }
    .divRounded
    {
        position:relative;
        border: 1px solid #767676;
        width: 565px !important;
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        -ms-border-radius:8px;
        border-radius:8px;
        -webkit-box-shadow: #666 0px 2px 3px;
        -moz-box-shadow: #666 0px 2px 3px;
        -ms-box-shadow: #666 0px 2px 3px;
        box-shadow: #666 0px 2px 3px;
        background: white;
        behavior: url(../PIE.htc);
        top: -2px !important; 
        margin-top:0px;
    }
    
    .divRoundedIE9,
    .divRoundedIE9:hover
    {
        position:relative;
        border: 1px solid #767676;
        width: 565px !important;
        padding-bottom: 0px;
        -ms-border-radius:0px;
        border-radius:8px;
        -webkit-box-shadow: #666 0px 2px 3px;
        -moz-box-shadow: #666 0px 2px 3px;
        -ms-box-shadow: #666 0px 2px 3px;
        box-shadow: #666 0px 2px 3px;
         background: #f7f7f7;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f7f7f8');
        top: -1px; 
    }
      
    .divRoundedBottom
    {
        position:relative;
        width: 565px; 
        height:35px;
     /*   border-top: 1px solid #CCCCCC;*/
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px;
    /*    -webkit-box-shadow: #666 0px 2px 3px;
        -moz-box-shadow: #666 0px 2px 3px;
        -ms-box-shadow: #666 0px 2px 3px;
        box-shadow: #666 0px 2px 3px;*/
        background: #f0f9fe;
        /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e8e8e8), to(#c6c6c6));
        background: -moz-linear-gradient(#e8e8e8, #c6c6c6);
        background: linear-gradient(#e8e8e8, #c6c6c6);
        -pie-background: linear-gradient(#e8e8e8, #c6c6c6);*/
        behavior: url(../PIE.htc);
        left: 0px;
        margin-top:14px;
    }           

    #tipImg{
		width: 73px;
		height: 40px;
		display: none;
		position: absolute;
		top: -1px;
		z-index: 10000
	}
	
    .divRoundedBottomIE9,
    .divRoundedBottomIE9:hover
    {
        position:relative;
        width: 565px; 
        height:35px;
        border-top: 1px solid #CCCCCC;
		border-radius: 0 0 8px 8px;
        /*-ms-border-radius: 0 0 0px 0px;
        border-radius: 0 0 0px 0px;
        -ms-box-shadow: #666 0px 2px 3px;
        box-shadow: #666 0px 2px 3px;*/
        background-color: #f0f9fe;
        /*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e8e8e8), to(#c6c6c6));
        background: -moz-linear-gradient(#e8e8e8, #c6c6c6);
        background: linear-gradient(#e8e8e8, #c6c6c6);
        -pie-background: linear-gradient(#e8e8e8, #c6c6c6);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#c6c6c6');*/
       
        left: 0px;
    }           



    .divFillMissingBG    
    {
       background-color:#e8e8e8;
       width:565px; 
       border-top-width: 1px;
       border-top-style: solid;
       border-top-color:#CCCCCC;
       height:10px;
       bottom: 25px;
       z-index:1;
       position:absolute;
       left: 0px;
    }
    
   
#boxTextContainer
{
    background-color:Transparent;
    margin-left: 76px;
    width: 450px;
}

.rtl #boxTextContainer
{
    text-align: right;
    margin-left: 30px;
}

#imgParagraph1, #imgParagraph2, #img3
{
    width:450px;
}

.divTitle
{
    color: #000000;
    font-weight: bold;
    font-size:14px;
    font-family:Arial;
    white-space: pre-wrap;
    padding-top: 25px;
}

.rtl .divTitle
{
    padding: 25px 0 29px;
	direction: rtl;
}

.divText
{
    color: #000000;
    font-weight: normal;
    font-size:13px;
    font-family:Arial;
    white-space: pre-wrap;
    padding: 5px 0 5px;/* 5px 0 29px;*/    
}

.rtl .divText
{
    direction: rtl;
}

.rtl .divMore 
{
    direction :rtl
}

.divTitle2
{
    color: #000000;
    font-weight: bold;
    font-size:12px;
    font-family:Arial;
    white-space: pre-wrap;
    padding: 5px 0 0;
    width:450px;
}

#divParagraph3Title
{ 
    margin-bottom: 10px 
}

.rtl .divTitle2
{
	direction: rtl;
}

.divDescription
{
    width: 217px;
    color: #000000;
    font-size:11px;
    font-family:Arial; 
    font-size:11px; 
    color:#5c5b5b;
}
    
.divDescriptionNoBottom
{
    width: 217px;
    color: #000000;
    font-size:11px;
    font-family:Arial; 
    font-size:11px; 
    color:#5c5b5b;
    margin:0 0 -19px;
}

#Checkbox1
{
    height: 20px;
}

 .img
{
    position:absolute; 
    visibility:show;  
    left: 22px;   
    top:25px;
    margin-right:15px;          
}

.rtl .img
{
    left: auto;   
    top: 25px;
    margin-right: 0; 
    margin-left: 22px;
    right: 22px;            
}

#wrapPersonals
{
    width: 450px !important;
    margin-top:10px;
}
      
 .hrefPrivacyInfo
 {
     font-size:11px;
     text-decoration: underline;
     position:absolute; 
     z-index:1; 
     left:12px;
     top:10px;
     width: 64px;
     font-family:Arial;
     color:#5C5B5B;
    }
 
  .hrefCancel
 {
     font-size:11px;
     text-decoration: underline;
     position:absolute; 
     z-index:1; 
     left:86px;
     top:10px;
     font-family:Arial;
     color:#5C5B5B;
 }
 
 .hrefAbort
 {
     font-size:11px;
     text-decoration: underline;
     position:absolute; 
     z-index:1; 
     left:25px;
     top:10px;
     font-family:Arial;
     color:#0d7fc6;
    }
    
.rtl .hrefAbort
{
    left: auto;
    right: 25px;    
}    
    
 .hrefFinish
 {
     font-size:11px;
     text-decoration: underline;
     position:absolute; 
     z-index:1; 
     right:25px;
     top:10px;
     font-family:Arial;
     color:#0d7fc6;
    }
    
.rtl .hrefFinish
{
    right: auto;
    left: 25px;    
}    
 
 .btnActivate
 {
     z-index:1; 
     width:75px;
     font-family:Arial;
     font-size:11px; 
     height:24px;
     margin:6px 0 0 466px;
    }
    
    .btnOK
    {
        position:absolute; 
        z-index:1; 
        font-family:Arial;
        font-size:11px; 
        top:0;
        height:24px;
        margin-left:437px;
         margin-top:4px !important;
    }
    
#deck_tip   
{
    position: relative;
    z-index: 10;
    top: -1px;
    background-color:Transparent; 
    display: block;
}
#divMain
{
    position: relative;
    left: -4px;
    margin: 0px; 
    padding: 0px;
}

body	
{
	margin: 0 !important;
    padding: 2px 0 0 5px !important;
    background-color:Transparent;
    opacity: 0;
    /* for IE */
}

#divEnable
{
    margin:14px 0 0 -60px;
    height:23px;
}   

.divMore
 {
     font-size:10px;
     z-index:1; 
     font-family:Arial;
     margin-top:14px;
     color:#a3a3a3;
 }
 
 .divMoreInfo
 {
     font-size:10px;
     z-index:1; 
     font-family:Arial;
     color:#5c5b5b;
 }
 
 .hrefGeneral
 {
     font-size:10px;
     text-decoration: underline;
     z-index:1; 
     font-family:Arial;
     margin: 0 0 0 0;
     color:#5C5B5B;
 }

 .divParagraph{ 
    vertical-align: top;
	zoom: 1;
	height: 23px;
	float: left;
	direction: ltr;
	margin-right:5px;
	margin-bottom: 6px;
	width:215px;
  }
  
  .rtl .divParagraph{ 
	float: right;
	margin-right: 3px;
  }

  input[type=checkbox]{ margin-right: 10px }
  .rtl input[type=checkbox]{ margin-left: 10px; margin-right: 0 }
 .divParagraphRTL{ 
    vertical-align: top;
	zoom: 1;
	height: 23px;
	float: right;
	direction: rtl;
	margin-right:0px;
	margin-left:10px;
	margin-bottom: 6px;
	width:215px;
  }

.divParagraph input, .divParagraph span, .divParagraph img { float:left; vertical-align: middle; border: 0px; }
.rtl .divParagraph input, .rtl .divParagraph span, .rtl .divParagraph img { float: right;}

.divParagraph span{ font-family: Arial; font-size:12px; padding: 2px 0  0 10px ; width: 160px; }

*.divParagraph span {margin-right: -3px;} /* IE6 - important!!! bug fix */

.rtl .divParagraph span 
{
    margin-right: 6px;    
    width: 128px;
}

.divParagraphRTL input, .divParagraphRTL span, .divParagraphRTL img { float:right; vertical-align: middle; border: 0px; }
.divParagraphRTL span{ font-family: Arial; font-size:12px;  padding: 2px 10px 0 0; width: 160px; }
*.divParagraph span {margin-left: -3px;} /* IE6 - important!!! bug fix */
/*.divParagraph input{
	outline: 1px solid #1b4f7f;
}*/
#divFooterWrap 
{
    width:450px !important; 
    display: inline-block;
    margin-top: 14px; 
    line-height: 90%;  
}

#imgTrust
{
    display: inline-block;
    border:3px solid Yellow;
    border:0px;
    margin-left:10px;
    cursor: pointer;
    float:right;
    margin-top:-12px;
}

.rtl #imgTrust
{
    float:left;
}

.divMore
 {
     width:319px !important; 
     display: inline-block;
     font-size:10px;
     z-index:1; 
     font-family:Arial;
     margin:-14px 0 0 0;
     color:#a3a3a3;
 }
 
 .divMore2
 {
     width:auto; 
     display: inline-block;
     font-size:10px;
     z-index:1; 
     font-family:Arial;
     margin:0 0 0 0;
     color:#5c5b5b;
 }

.dashed{
	border-top: 1px dashed #d1d1d1;
	padding-top: 10px;
	width:450px;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
 
 #divIphone
 {
     margin-top:15px;
 }
 
 .divChecks
 {
    width:450px;
 }

 .checkboxConfig 
 {
     margin-right:6px; 
     top:-3px;
     float:left;
	/* outline: 1px solid #1b4f7f; */
 }
 
 .rtl .checkboxConfig
 {
     margin-left:6px; 
     top:-3px;
     float:right;
 }
 
 .spanConfig
 {
     font-family: Arial; 
     font-size:12px; 
 }
 
 .rtl .spanConfig
 {
	 direction: rtl;
 }
 
#divChecks3
{
 margin-bottom:14px;   
    
    
}    
.checksBoxsList
{
    list-style: none;
    margin: 0; 
    padding: 0;
}
.checksBoxsList li
{
    padding: 0;
    margin-bottom: 5px;
    
}

.checksBoxsList label 
{
    font-family:Arial; 
    font-size:11px; 
    color:#000000; 
    display: block;
    padding: 0;
    overflow:hidden;
    padding-top: 3px;
}
.btnActivate
{
    position: absolute;
    z-index: 1;
    top: -1px;
	overflow: hidden;
    left: 474px;
    font-family: Arial;
    font-size: 11px;
    height: 24px;
    border: 1px solid #b6bbbf;
    background-color: White;
    background: url(../Images/btn.jpg) repeat-x left top;
    margin-left: 5px;
    cursor: pointer;
}

.rtl .btnActivate
{
    left: 5px;
}
.btnImg
{
    border-left: 2px solid White;
    height: 23px;
	
	text-align: center;
}
.btnTxt
{
    height: 13px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #4b585e;
}

/* new clearfix */
.checksBoxsList li:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	
	}
* html .checksBoxsList li            { zoom: 1; } /* IE6 */
*:first-child+html .checksBoxsList li { zoom: 1; } /* IE7 */