/*----- General styles -----*/

root { 
    display: block;
}
body {              
    font-family: Tahoma;
    width: 882px;
    height: 291px;
    position: relative;
    margin: 0;
    padding: 0;
    background:repeat-x top left;    
}

#canvas {
           position:absolute;
          top:0px;
          left:0px;
          width:294px;
          height: 291px;
      /*    overflow: hidden;*/
}
p {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px #333366;
    color: #ffffff;
}

p.noshadow {
          text-shadow: none;
}
img {
    display: block;
}
#current {
    width: 294px;
    height: 291px;
    position: absolute;
    top: 0;
    left: 0;
}
#nextDays {
    width: 294px;
    height: 291px;
    position: absolute;
    top: 0;
    left: 294px;
}
#changeLocation {
    width: 294px;
    height: 291px;    
    position: absolute;
    top: 291px;
    left: 0;
}

/*-----  current div style -----*/

#change, #change2 {
    cursor: pointer;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    top: 4px;
    right: 10px;
}

#change2 {
          top:3px;
}
#more, #more2 {
    cursor: pointer;
    font-size: 11px;
    color: #efd28c;
    position: absolute;    
    right: 10px;
    width:70px;
}
#more { top:  273px; }
#more2 {top:  272px;}

#top {
    position: absolute;
    top: 21px;
    left: 5px;
    height: 153px;
    width: 284px;
}
#topBg {
    position: absolute;
    top: 16px;
    left: 1px;
}
#logo{
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 9px;
}

#location, #location2 {
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 19px;
}

#location2 {    
    margin: 0;   
    color: #ffffff;
}
#nowImg {
    position: absolute;
    top: 40px;
    left: 10px;
}
#nowTmpr {
    font-size: 43px;
    color: #003f5c;
    position: absolute;
    top: 40px;
    left: 105px;
}
#highLowTmpr {
    font-size: 15px;
    position: absolute;
    top: 127px;
    left: 10px;
}
#feels {
    font-size: 12px;
    position: absolute;
    top: 94px;
    left: 105px;
}
#feelsDesc {
    font-size: 12px;
    color: #baddf7;
    position: absolute;
    top: 112px;
    left: 105px;
}

#bottomBg {
    position: absolute;
    top: 173px;
    left: 1px;
}
#daysForecast {
    position: absolute;
    top: 179px;
    left: 5px;
    height: 90px;
    width: 284px;
}
#divider1 {
    position: absolute;
    top: 16px;
    left: 94px;
}
#divider2 {
    position: absolute;
    top: 16px;
    left: 188px;
}
#day1, #day2, #day3 {
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 0;
    height: 90px;
}
#day1:hover,
#day2:hover,
#day3:hover{    
    background-position: -5px -5px;
    background-repeat: no-repeat;
}

#day1.day:hover,
#day2.day:hover,
#day3.day:hover{
          background-image: url('http://weather.webapps.conduitapps.com/day/rollover.png');
}


#day1.night:hover,
#day2.night:hover,
#day3.night:hover{
          background-image: url('http://weather.webapps.conduitapps.com/night/rollover.png');
}

#day1 {
    width: 94px;
    left: 0;
}
#day2 {
    width: 94px;
    left: 95px;
}
#day3 {
    width: 95px;
    left: 190px;
}
.dayName {
    font-size: 14px;
    margin-top: 11px;
}
.dayHigh {
    font-size: 13px;
    position: absolute;
    top: 38px;
    left: 14px;
}
.dayLow {
    font-size: 13px;
    position: absolute;
    color: #baddf7;    
    top: 62px;
    left: 14px;
}
.dayImg {          
    position: absolute;
    top: 34px;
    right: 3px;
}

/*----- nextDays div style -----*/
#back {
    cursor: pointer;
    font-size: 11px;
    color: #efd28c;    
   
    position: absolute;
    width:40px;
    height:20px;
    top:  272px;
    left: 12px;
}
#back img{
    cursor: pointer;
    position: absolute;
    top:  1px;    
    vertical-align: middle;
}

#back #backText {
          margin-left: 13px;
}

#topBg2 {
    position: absolute;
    top: 14px;
    left: 1px;
}
#top2 {
    width: 282px;
    height: 124px;
    position: absolute;
    top: 21px;
    left: 6px;
}
#logo2 {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 9px;
}

#toggle {
    cursor: pointer;
    position: absolute;
    top: 69px;
    right: 20px;
}

#toggle2 {
    cursor: pointer;
    position: absolute;
    top: 68px;
    right: 20px;
}

#toggle_c,#toggle_f ,#toggle_c2,#toggle_f2{color: #ffffff;font-size: 12px;position: absolute;}
#toggle_c2,#toggle_f2 { top: 66px;}
#toggle_c,#toggle_f {top: 67px;}
#toggle_c, #toggle_c2 {right: 8px;}
#toggle_f,#toggle_f2 {right: 56px;}


#date2 {
    font-size: 19px;
    color: #003f5c;
    position: absolute;
    top: 43px;
    left: 84px;
}
#nowTmpr2 {
    font-size: 21px;
    color: #ffffff;
    position: absolute;
    top: 66px;
    left: 84px;
}

#date2, #nowTmpr /* ,#nowTmpr2 */{   text-shadow:#ccd9e3 1px 1px 2px;}
#desc {
    font-size: 12px;
    color: #baddf7;
    position: absolute;
    top: 95px;
    left: 84px;
}
#nowImg2 {
    position: absolute;
    top: 40px;
    left: 10px;
}
#bottomBg2 {
    position: absolute;
    top: 144px;
    left: 1px;
}
#bottom2 {
    width: 282px;
    height: 118px;
    position: absolute;
    top: 151px;
    left: 6px;
}
#divider3 {
    position: absolute;
    top: 19px;
    left: 140px;
}
.data1,.data3, .data2,.data4 {font-size: 11px;}
.data1,.data3 {       color: #ffffff;}
.data2,.data4 {    color: #bce1ff;}
.data1, .data2, .data3, .data4 {height:15px;}
.col1,.col2,.col3,.col4, .col5 {    font-size: 11px;}

.col4 .data1, .col4 .data2, .col4 .data3, .col4 .data4 {height:20px;}
.col4 img {  margin-bottom: 2px;}
#bottom2 p {    padding-bottom: 7px;}
.col1 {
    width: 68px;
    position: absolute;
    top: 16px;
    left: 14px;
    overflow:hidden;
}
.col2 {
    width: 78px;
    position: absolute;
    top: 16px;
    left: 82px;
}
.col3 {
    width: 48px;
    position: absolute;
    top: 16px;
    left: 160px;
}
.col4 {
    width: 40px;
    position: absolute;
    top: 14px;
    left: 208px;
}
.col5 {
    position: absolute;
    top: 16px;
    left: 248px;
}

/*----- changeLocation div style -----*/
#changeBg {
    position: absolute;
    top: 16px;
    left: 1px;
}
#top3 {
    width: 282px;
    height: 246px;
    position: absolute;
    top: 23px;
    left: 6px;
}
#logo3 {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 9px;
}

#title {
    font-size: 19px;
    position: absolute;
    top: 11px;
    left: 15px;
}
#language1,#language2,#region,#default,#tmpr, #radio_f, #radio_c {
    font-size: 11px;
    color: #baddf7;
}
#language1 {
    position: absolute;
    top: 40px;
    left: 15px;
}
#language2 {
    position: absolute;
    top: 57px;
    left: 15px;
}
#languageSelect{
    height: 17px;
    width: 137px;
    position: absolute;
    top: 76px;
    left: 15px;
}

#languageSelect, #regionSelect, #defaultInput {
    font-family: arial;
    font-size: 11px;
    color: #3a3a3a
}
#divider4 {
    position: absolute;
    top: 99px;
    left: 15px;
}
#region {
    position: absolute;
    top: 105px;
    left: 15px;    
}
#regionSelect{
    height: 17px;
    width: 137px;
    position: absolute;
    top: 125px;
    left: 15px;
}
#default {
    position: absolute;
    top: 147px;
    left: 15px;
}
#defaultInput {
    padding: 0;
    height: 17px;
    width: 137px;
    border-width: 0px;
    position: absolute;
    top: 167px;
    left: 15px;
}
#divider5 {
    position: absolute;
    top: 191px;
    left: 15px;
}
#tmpr {
    position: absolute;
    top: 196px;
    left: 15px;
}
#radio1 {
    position: absolute;
    top: 213px;
    left: 10px;
}
#radio2 {
    position: absolute;
    top: 213px;
    left: 48px;
}
#radio_f {
    position: absolute;
    top: 214px;
    left: 32px;
}
#radio_c {
    position: absolute;
    top: 214px;
    left: 71px;
}
#saveButton {
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 54px;
}

#saveButton p{
          cursor: pointer;
          height: 17px;
          font-family: arial;
          color: #ffffff;
          font-size: 11px;
          background: url('http://weather.webapps.conduitapps.com/save-center.png') repeat-x top left;
          position: absolute;
          top: 0;
          left: 3px;          
          text-align: center;
          padding-top: 1px;
          padding-left: 7px;
          padding-right: 7px;
}
#right {
          position: absolute;
          top: 0;
          left:  28px;
}
#left {
          position: absolute;
          top: 0;
          left: 0;
}
#cancel {
    cursor: pointer;
    font-family: Arial;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 13px;
}

#imageLoader {  display: none;}

#nodata {
          position: absolute;
          top:130px;
          left:130px;
                              
          font-weight:bold;
          font-size:12px;
}


#facebook{
          width: 141px;
          height: 25px;
          float: left;
          margin-left: 3px;
          margin-top: 2px;
}
#bottom{
          display: none;
          width: 290px;
          height: 25px;
          padding: 0px;
          position: absolute;
          left:0px;
          top: 291px;          
          background: #042c45 url(http://weather.webapps.conduitapps.com/logo_footer.png) 95% 50% no-repeat;
          margin: 0px 0px 0px 5px;
}

#powered {
          float: right;
          width: 150px;
          height: 25px;
          margin-top: -25px;
          cursor: pointer;
          padding-top:5px;
          font-size: 10px;
          color:#fff;
}

   .load-indicator{
            position: absolute;
              top: 167px;
              left: 155px;
}

.moreShev           {position: absolute; top:3px; right:0px; font-size: 7px; letter-spacing: -.2em}
#location, #location2,#title  {width: 220px;}
#nowTmpr2, #date2,#desc                 {width: 130px;}
#nowTmpr                                          {    width: 100px;}

.autocomplete-w1 { background:url(http://weather.webapps.conduitapps.com/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; }
.autocomplete { font-size:11px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:80px; overflow:auto; margin:-6px 6px 6px -6px; }
.autocomplete .selected { background:#e3f0f6; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden;  max-height:80px; }
.autocomplete strong { font-weight:normal; color:#3399FF; }