html, body {
	background: transparent;
	overflow:hidden;
}

.higlight_words {
	background-color: #fff;
	border: 1px solid #dedede;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
}

.higlight_words li.item {
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	color: #000;
	padding-bottom: 3px;
	padding-left: 3px;
	cursor: pointer;
	white-space:nowrap;
	line-height: 15px;
	padding-top:2px;
}

.higlight_words li.item:hover {
	background: #dedede;
}